Repository Ensembl/amr-portal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build:BE:Docker, Build:FE:Docker, Build:FE:Assets, Deploy:BE:RC, Publish:Assets:RC, QA:BE

Build:BE:Docker:
  stage: build
  image: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build -t ${DOCKER_IMAGE} --no-cache -f backend/Dockerfile backend/
  - docker push ${DOCKER_IMAGE}
  - docker rmi ${DOCKER_IMAGE}
  - docker logout $CI_REGISTRY

Build:FE:Docker:
  stage: build
  image: docker
  variables:
    DOCKER_IMAGE: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHORT_SHA}-fe
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build -t ${DOCKER_IMAGE} --no-cache -f frontend/Dockerfile .
  - docker push ${DOCKER_IMAGE}
  ...

Build:FE:Assets:
  stage: build
  image: node:22.19
  script:
  - cd frontend
  - npm ci
  - npm run build
  after_script:
  - echo "BUILD_JOB_ID=${CI_JOB_ID}" >> build_static.env
  artifacts:
    name: build_artifacts
    paths:
    - frontend/dist/
    reports:
      dotenv: build_static.env

Deploy:BE:RC:
  image: dockerhub.ebi.ac.uk/ensembl-web/deploy-tools:latest
  before_script:
  - kubectl config use-context ${AGENT}
  - kubectl config set-context --current --namespace=${NS}
  script:
  - cd k8s/backend/
  - kustomize edit set image DOCKER_IMAGE=${DOCKER_IMAGE}
  - kubectl apply -k .
  stage: deploy_rc
  ...

Publish:Assets:RC:
  image: dockerhub.ebi.ac.uk/ensembl-web/deploy-tools:latest
  before_script:
  - kubectl config use-context ${AGENT}
  - kubectl config set-context --current --namespace=${NS}
  script:
  - cd k8s/frontend/
  - sed -i "s#<PROJECT_ID>#${CI_PROJECT_ID}#g" publish_assets.yaml
  ...

QA:BE:
  stage: qa
  image:
    name: dockerhub.ebi.ac.uk/ensembl-web/deploy-tools:latest
    entrypoint:
    - ''
  variables:
    HOSTNAME: http://amr.review.ensembl.org
  script:
  - k6 run scripts/testing/smoke-testing.js
  - qa_passed=1
  ...

Change the download button into the download link
  backend/api/endpoints.py
  frontend/src/assets/scripts/components/bottom-panel/action-buttons/popover.ts
  frontend/src/assets/scripts/configs/app-config.ts
  frontend/src/assets/scripts/data-provider/apiBackend.ts
Due: Build:BE:Docker, Build:FE:Assets, Deploy:BE:RC, Publish:Assets:RC, QA:BE

Add download service to support file downloads in browsers that have FileSystem API
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/scripts/components/bottom-panel/action-buttons/popover.ts
  frontend/src/assets/scripts/services/download-service.ts
  frontend/tsconfig.json
Due: Build:FE:Assets, Publish:Assets:RC

Clean up
  docs/decisions/005-downloads.md
  frontend/src/assets/scripts/components/bottom-panel/action-buttons/popover.ts
  frontend/src/assets/scripts/data-provider/apiBackend.ts
  frontend/src/assets/scripts/data-provider/backendInterface.ts
  frontend/src/assets/scripts/state/biosampleStore.ts
Due: Build:FE:Assets, Publish:Assets:RC

Add visual feedback for when the download button is clicked
  frontend/src/assets/scripts/components/bottom-panel/action-buttons/popover.ts
Due: Build:FE:Assets, Publish:Assets:RC

Fix styles upon collapsing of the top panel
  frontend/src/assets/scripts/components/top-panel/top-panel-navigation/top-panel-navigation-collapsed.ts
  frontend/src/assets/scripts/components/top-panel/top-panel.ts
  frontend/src/assets/scripts/pages/main.ts
Due: Build:FE:Assets, Publish:Assets:RC

First attempt at the final dataset
  scripts/etl/.gitignore
  scripts/etl/amr_config_v3/config.json
  scripts/etl/amr_config_v3/data.json
Due: none

:sparkles: add release endpoint and improve testing
  .gitignore
  README.md
  backend/api/endpoints.py
  backend/core/config.py
  backend/core/filters_config_parser.py
  backend/core/utils.py
  backend/models/release.py
  backend/services/release.py
  backend/tests/conftest.py
  backend/tests/test_endpoints.py
  backend/tests/test_filters.py
Due: Build:BE:Docker, Deploy:BE:RC, QA:BE

Switched to amr_alpha_v15
  k8s/backend/configmap.yaml
Due: none

Minor updates to the docs file
  docs/decisions/005-downloads.md
Due: none

minor typing update
  backend/services/release.py
Due: Build:BE:Docker, Deploy:BE:RC, QA:BE

:fire: remove unnecessary db table checking
  backend/services/filters.py
Due: Build:BE:Docker, Deploy:BE:RC, QA:BE

Updates to subheader: dynamic title, and fetching release date
  frontend/src/_includes/components/header/subheader.njk
  frontend/src/about.md
  frontend/src/assets/css/components/subheader.css
  frontend/src/assets/scripts/components/bottom-panel/action-buttons/popover.ts
  frontend/src/assets/scripts/components/footer/footer.ts
  frontend/src/assets/scripts/components/header/header.ts
  frontend/src/assets/scripts/components/header/release.ts
  frontend/src/assets/scripts/configs/app-config.ts
  frontend/src/assets/scripts/pages/main.ts
  frontend/src/data.njk
  frontend/src/methods.md
  frontend/src/schemas.md
  frontend/src/usage.md
Due: Build:FE:Assets, Publish:Assets:RC

explicitly set default value for scope and file_format for download
  backend/api/endpoints.py
  frontend/src/assets/scripts/components/bottom-panel/action-buttons/popover.ts
Due: Build:BE:Docker, Build:FE:Assets, Deploy:BE:RC, Publish:Assets:RC, QA:BE

:fire: remove experimental code
  backend/api/endpoints.py
  backend/services/filters.py
Due: Build:BE:Docker, Deploy:BE:RC, QA:BE

:rocket: include configmap in the ci/cd deployment
  k8s/backend/kustomization.yaml
Due: none

:pencil: minor clean up
  backend/api/endpoints.py
Due: Build:BE:Docker, Deploy:BE:RC, QA:BE

altered filters
  scripts/etl/amr_config_v3/config.json
Due: none

Fix svg icons (use img tag for them), and add navigation link to header)
  frontend/src/_includes/components/header/header.njk
  frontend/src/_includes/components/header/subheader.njk
  frontend/src/_includes/components/navigation-link/navigation-link.njk
  frontend/src/assets/css/components/embl-ebi-header.css
  frontend/src/assets/css/components/subheader.css
  frontend/src/assets/css/default/custom-properties.css
Due: Build:FE:Assets, Publish:Assets:RC

Add info_circle icon to ensembl icons
  frontend/src/assets/images/icons/ensembl-icons/icon_info_circle.svg
Due: Build:FE:Assets, Publish:Assets:RC

Move the how to and the about links in the subheader around
  frontend/src/_includes/components/header/subheader.njk
Due: Build:FE:Assets, Publish:Assets:RC

Add trailing slash to a link
  frontend/src/_includes/components/header/subheader.njk
Due: Build:FE:Assets, Publish:Assets:RC

:thread: add FastAPI dependency injection
  backend/api/endpoints.py
  backend/core/database.py
  backend/core/filters_config_parser.py
  backend/services/filters.py
  backend/services/release.py
Due: Build:BE:Docker, Deploy:BE:RC, QA:BE

Remove distinction between the main filter group and other filter groups
  frontend/package.json
  frontend/src/assets/scripts/components/top-panel/filters-area/filters-area-top.ts
  frontend/src/assets/scripts/components/top-panel/filters-area/filters-area.ts
  frontend/src/assets/scripts/components/top-panel/top-panel-navigation/top-panel-navigation-collapsed.ts
  frontend/src/assets/scripts/components/top-panel/top-panel-navigation/top-panel-navigation.ts
  frontend/src/assets/scripts/components/top-panel/top-panel.ts
  frontend/src/assets/scripts/data-provider/apiBackend.ts
  frontend/src/assets/scripts/state/filtersStore.ts
  frontend/src/assets/scripts/types/filters/filtersConfig.ts
  frontend/tsconfig.json
Due: Build:FE:Assets, Publish:Assets:RC

Fix QA testing
  .gitlab-ci.yml
  scripts/testing/smoke-testing.js
Due: none

Remove distinction between the main filter group and other filter groups (#27)
  frontend/package.json
  frontend/src/assets/scripts/components/top-panel/filters-area/filters-area-top.ts
  frontend/src/assets/scripts/components/top-panel/filters-area/filters-area.ts
  frontend/src/assets/scripts/components/top-panel/top-panel-navigation/top-panel-navigation-collapsed.ts
  frontend/src/assets/scripts/components/top-panel/top-panel-navigation/top-panel-navigation.ts
  frontend/src/assets/scripts/components/top-panel/top-panel.ts
  frontend/src/assets/scripts/data-provider/apiBackend.ts
  frontend/src/assets/scripts/state/filtersStore.ts
  frontend/src/assets/scripts/types/filters/filtersConfig.ts
  frontend/tsconfig.json
Due: Build:FE:Assets, Publish:Assets:RC

Move links to methods and schemas from home page into about
  frontend/src/about.md
  frontend/src/index.njk
Due: Build:FE:Assets, Publish:Assets:RC

Change arrows in card-links on the home page into img whose src is an svg
  frontend/src/_includes/components/card-link/card-link.njk
  frontend/src/assets/css/components/card-link.css
  frontend/src/assets/css/default/custom-properties.css
  frontend/src/assets/images/icons/arrow-circle-right.svg
Due: Build:FE:Assets, Publish:Assets:RC

Adding new details about AllTheBacteria
  frontend/src/about.md
Due: Build:FE:Assets, Publish:Assets:RC

Fix top panel collapse for Firefox and Safari, and add the 'Filter by' label
  frontend/src/assets/scripts/components/header/release.ts
  frontend/src/assets/scripts/components/top-panel/filters-area/filters-area-top.ts
  frontend/src/assets/scripts/components/top-panel/filters-area/filters-area.ts
  frontend/src/assets/scripts/pages/main.ts
Due: Build:FE:Assets, Publish:Assets:RC

Do not reset active filters group when changing views
  frontend/src/assets/scripts/components/bottom-panel/bottom-panel.ts
  frontend/src/assets/scripts/state/biosampleStore.ts
  frontend/src/assets/scripts/state/filtersStore.ts
Due: Build:FE:Assets, Publish:Assets:RC

Close popover on outside click
  frontend/src/assets/scripts/components/bottom-panel/action-buttons/popover.ts
  frontend/src/assets/scripts/utils/check-outside-click.ts
  frontend/src/assets/scripts/utils/focus-utils.ts
Due: Build:FE:Assets, Publish:Assets:RC

Update header styles for small screens
  frontend/src/assets/css/components/embl-ebi-header.css
  frontend/src/assets/css/documentation-page.css
Due: Build:FE:Assets, Publish:Assets:RC

Make sure footer sticks to bottom
  frontend/src/assets/css/default/global.css
  frontend/src/assets/css/documentation-page.css
Due: Build:FE:Assets, Publish:Assets:RC

Changed ingress to ebi.ac.uk and updated duckdb data file
  k8s/backend/configmap.yaml
  k8s/backend/ingress.yaml
  k8s/frontend/ingress.yaml
Due: none

config used for alpha_v18
  scripts/etl/amr_config_v3/config.json
  scripts/etl/amr_config_v3/data.json
Due: none

Modifying views schema
  scripts/etl/amr_config_v3/config.json
Due: none

Switching from ISO_country_code to country and normalising column order
  scripts/etl/amr_config_v3/config.json
Due: none

Modifying views schema (#29)
  scripts/etl/amr_config_v3/config.json
Due: none

Config for alpha_v18 - 19 (#30)
  scripts/etl/.gitignore
  scripts/etl/amr_config_v3/config.json
  scripts/etl/amr_config_v3/data.json
Due: none

Path conditions:
  Build:BE:Docker: any of: backend/**/*
  Build:FE:Docker: any of: frontend/nginx-conf/**/*
  Build:FE:Assets: any of: frontend/**/*
  Deploy:BE:RC: any of: backend/**/*
  Publish:Assets:RC: any of: frontend/**/*
  QA:BE: any of: backend/**/*
