Repository Ensembl/amr-portal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build:BE:Docker, Build:FE:Docker, Build:FE:Assets, Deploy:BE:RC, Publish:Assets:RC, QA:BE

Build:BE:Docker:
  stage: build
  image: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build -t ${DOCKER_IMAGE} --no-cache -f backend/Dockerfile backend/
  - docker push ${DOCKER_IMAGE}
  - docker rmi ${DOCKER_IMAGE}
  - docker logout $CI_REGISTRY

Build:FE:Docker:
  stage: build
  image: docker
  variables:
    DOCKER_IMAGE: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHORT_SHA}-fe
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build -t ${DOCKER_IMAGE} --no-cache -f frontend/Dockerfile .
  - docker push ${DOCKER_IMAGE}
  ...

Build:FE:Assets:
  stage: build
  image: node:22.19
  script:
  - cd frontend
  - npm ci
  - npm run build
  after_script:
  - echo "BUILD_JOB_ID=${CI_JOB_ID}" >> build_static.env
  artifacts:
    name: build_artifacts
    paths:
    - frontend/dist/
    reports:
      dotenv: build_static.env

Deploy:BE:RC:
  image: dockerhub.ebi.ac.uk/ensembl-web/deploy-tools:latest
  before_script:
  - kubectl config use-context ${AGENT}
  - kubectl config set-context --current --namespace=${NS}
  script:
  - cd k8s/backend/
  - kustomize edit set image DOCKER_IMAGE=${DOCKER_IMAGE}
  - kubectl apply -k .
  stage: deploy_rc
  ...

Publish:Assets:RC:
  image: dockerhub.ebi.ac.uk/ensembl-web/deploy-tools:latest
  before_script:
  - kubectl config use-context ${AGENT}
  - kubectl config set-context --current --namespace=${NS}
  script:
  - cd k8s/frontend/
  - sed -i "s#<PROJECT_ID>#${CI_PROJECT_ID}#g" publish_assets.yaml
  ...

QA:BE:
  stage: qa
  image:
    name: dockerhub.ebi.ac.uk/ensembl-web/deploy-tools:latest
    entrypoint:
    - ''
  variables:
    HOSTNAME: http://amr.review.ensembl.org
  script:
  - k6 run scripts/testing/smoke-testing.js
  - qa_passed=1
  ...

Added trim to species to remove whitespace issue. Added spaces around forward slash on third view title to support wrapping
  scripts/etl/amr_config_v3/config.json
  scripts/etl/amr_config_v3/data.json
Due: none

Enable text wrapping in text-buttons used for views, and update circle-counter styles
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/scripts/components/top-panel/circle-counter/circle-counter.ts
  frontend/src/assets/scripts/components/top-panel/top-panel-navigation/top-panel-navigation.ts
Due: Build:FE:Assets, Publish:Assets:RC

Added trim to species to remove white space issue. Added spaces around forward slash on third view title to support wrapping (#31)
  scripts/etl/amr_config_v3/config.json
  scripts/etl/amr_config_v3/data.json
Due: none

Update config.json
  scripts/etl/amr_config_v3/config.json
Due: none

Update config.json (#33)
  scripts/etl/amr_config_v3/config.json
Due: none

Update hero image on the home page
  frontend/src/_includes/components/home/hero/hero.njk
  frontend/src/_includes/layouts/home.njk
  frontend/src/assets/css/home/hero.css
  frontend/src/assets/images/hero/hero.jpg
  frontend/src/assets/images/hero/hero.webp
  frontend/src/assets/images/hero/legionella.jpg
Due: Build:FE:Assets, Publish:Assets:RC

Update subheader
  frontend/src/_includes/components/header/subheader.njk
  frontend/src/assets/css/components/subheader.css
Due: Build:FE:Assets, Publish:Assets:RC

New data table added which is the merge of phenotype and genotype
  scripts/etl/amr_config_v3/config.json
  scripts/etl/amr_config_v3/data.json
Due: none

Next round of documentation changes
  frontend/src/about.md
  frontend/src/developers.md
  frontend/src/methods.md
  frontend/src/schemas.md
  frontend/src/searching_amr_data.md
Due: Build:FE:Assets, Publish:Assets:RC

Extract table of contents into a dedicated region in sidebar
  frontend/eleventy.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/_includes/layouts/documentation.njk
  frontend/src/assets/css/documentation-page.css
  frontend/utils/documentation-toc-transform.js
Due: Build:FE:Assets, Publish:Assets:RC

Update the howto article; add images
  frontend/src/assets/images/content/howto/home-page.png
  frontend/src/assets/images/content/howto/image-001.png
  frontend/src/assets/images/content/howto/image-002.png
  frontend/src/assets/images/content/howto/image-003.png
  frontend/src/assets/images/content/howto/image-004.png
  frontend/src/assets/images/content/howto/image-005.png
  frontend/src/assets/images/content/howto/image-006.png
  frontend/src/assets/images/content/howto/image-007.png
  frontend/src/assets/images/content/howto/image-008.png
  frontend/src/assets/images/content/howto/image-009.png
  frontend/src/assets/images/content/howto/image-010.png
  frontend/src/assets/images/content/howto/image-011.png
  frontend/src/usage.md
Due: Build:FE:Assets, Publish:Assets:RC

Move pages into the content directory
  frontend/eleventy.config.js
  frontend/src/content/about.md
  frontend/src/content/data.njk
  frontend/src/content/index.njk
  frontend/src/content/methods.md
  frontend/src/content/schemas.md
  frontend/src/content/usage.md
Due: Build:FE:Assets, Publish:Assets:RC

Add smooth scrolling for documentation pages, and conditionally render links in sidebar
  frontend/src/_includes/layouts/documentation.njk
  frontend/src/assets/css/documentation-page.css
Due: Build:FE:Assets, Publish:Assets:RC

Do not show current page in the 'more pages' block in sidebar
  frontend/src/_includes/layouts/documentation.njk
Due: Build:FE:Assets, Publish:Assets:RC

Better syntax for checking if page is in about collection; also, remove debug output
  frontend/src/_includes/layouts/documentation.njk
Due: Build:FE:Assets, Publish:Assets:RC

Remove bottom border from TOC container if it isn't followed by related links; do some cleanup
  frontend/eleventy.config.js
  frontend/src/_includes/layouts/documentation.njk
  frontend/src/assets/css/documentation-page.css
  frontend/src/content/about.md
  frontend/utils/documentation-toc-transform.js
Due: Build:FE:Assets, Publish:Assets:RC

Update docs (#34)
  frontend/eleventy.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/_includes/layouts/documentation.njk
  frontend/src/assets/css/documentation-page.css
  frontend/src/assets/images/content/howto/home-page.png
  frontend/src/assets/images/content/howto/image-001.png
  frontend/src/assets/images/content/howto/image-002.png
  frontend/src/assets/images/content/howto/image-003.png
  frontend/src/assets/images/content/howto/image-004.png
  frontend/src/assets/images/content/howto/image-005.png
  frontend/src/assets/images/content/howto/image-006.png
  frontend/src/assets/images/content/howto/image-007.png
  frontend/src/assets/images/content/howto/image-008.png
  frontend/src/assets/images/content/howto/image-009.png
  frontend/src/assets/images/content/howto/image-010.png
  frontend/src/assets/images/content/howto/image-011.png
  frontend/src/content/about.md
  frontend/src/content/data.njk
  frontend/src/content/index.njk
  frontend/src/content/methods.md
  frontend/src/content/schemas.md
  frontend/src/content/usage.md
  frontend/src/usage.md
  frontend/utils/documentation-toc-transform.js
Due: Build:FE:Assets, Publish:Assets:RC

Filter changes based on IC feedback
  scripts/etl/amr_config_v3/config.json
  scripts/etl/amr_config_v3/data.json
Due: none

Fix addPassthroughCopy
  frontend/eleventy.config.js
Due: Build:FE:Assets, Publish:Assets:RC

Adding more docs to the portal including
  frontend/src/_includes/components/header/subheader.njk
  frontend/src/_includes/components/home/hero/hero.njk
  frontend/src/accessing_amr_data_via_portal.md
  frontend/src/assets/images/docs/example_antibiogram.png
  frontend/src/index.njk
  frontend/src/searching_amr_data.md
  frontend/src/usage.md
Due: Build:FE:Assets, Publish:Assets:RC

Allow the use of parquet if you have them
  scripts/etl/etl/transform.py
Due: none

Fixing some aspects of the page for consistency
  frontend/src/content/usage.md
Due: Build:FE:Assets, Publish:Assets:RC

Use eleventy collections to do the tag filtering work so we always have a dynamic list available
  frontend/eleventy.config.js
  frontend/src/_includes/layouts/documentation.njk
Due: Build:FE:Assets, Publish:Assets:RC

Revert hero change
  frontend/src/_includes/components/home/hero/hero.njk
Due: Build:FE:Assets, Publish:Assets:RC

Minor styles update
  frontend/eleventy.config.js
  frontend/src/assets/css/documentation-page.css
Due: Build:FE:Assets, Publish:Assets:RC

Documentation updates (#36)
  frontend/eleventy.config.js
  frontend/src/_includes/components/header/subheader.njk
  frontend/src/_includes/layouts/documentation.njk
  frontend/src/assets/css/documentation-page.css
  frontend/src/assets/images/docs/example_antibiogram.png
  frontend/src/content/about.md
  frontend/src/content/developers.md
  frontend/src/content/index.njk
  frontend/src/content/methods.md
  frontend/src/content/schemas.md
  frontend/src/content/searching_amr_data.md
  frontend/src/content/usage.md
Due: Build:FE:Assets, Publish:Assets:RC

Revert typing. Import needed on Python 3.8 and earlier
  scripts/etl/etl/transform.py
Due: none

Enable text wrapping in text-buttons used for views, and update circle-counter styles (#32)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/scripts/components/top-panel/circle-counter/circle-counter.ts
  frontend/src/assets/scripts/components/top-panel/top-panel-navigation/top-panel-navigation.ts
Due: Build:FE:Assets, Publish:Assets:RC

Update dependencies
  frontend/package-lock.json
  frontend/package.json
Due: Build:FE:Assets, Publish:Assets:RC

Update styles
  frontend/package-lock.json
  frontend/package.json
  frontend/src/_includes/components/header/subheader.njk
  frontend/src/_includes/components/home/hero/hero.njk
  frontend/src/assets/css/documentation-page.css
  frontend/src/assets/images/icons/icon_xlink_orange.svg
  frontend/src/assets/scripts/components/top-panel/filters-area/filters-area.ts
  frontend/src/assets/scripts/components/top-panel/top-panel-navigation/top-panel-navigation.ts
  frontend/src/assets/scripts/components/top-panel/top-panel.ts
  frontend/src/content/data.njk
  frontend/src/content/index.njk
Due: Build:FE:Assets, Publish:Assets:RC

A bit more idiomatic sorting syntax
  frontend/eleventy.config.js
Due: Build:FE:Assets, Publish:Assets:RC

New data available and updated filters (#35)
  scripts/etl/amr_config_v3/config.json
  scripts/etl/amr_config_v3/data.json
  scripts/etl/etl/transform.py
Due: none

Merging all docs under one tag, bringing in licensing information and expanding on cabbage thanks to the IC group's documentation
  frontend/src/content/about.md
  frontend/src/content/licensing.md
  frontend/src/content/methods.md
Due: Build:FE:Assets, Publish:Assets:RC

Documentation update (#37)
  frontend/src/content/about.md
  frontend/src/content/licensing.md
  frontend/src/content/methods.md
Due: Build:FE:Assets, Publish:Assets:RC

:alembic: attempt to stream csv data during download
  backend/api/endpoints.py
  backend/core/database.py
  backend/services/filters.py
Due: Build:BE:Docker, Deploy:BE:RC, QA:BE

Update configmap.yaml to point to release 22
  k8s/backend/configmap.yaml
Due: none

Update the styles of the home page
  frontend/src/_includes/components/card-link/card-link.njk
  frontend/src/_includes/components/header/header.njk
  frontend/src/_includes/components/home/hero/hero.njk
  frontend/src/_includes/components/home/link/link.njk
  frontend/src/assets/css/components/card-link.css
  frontend/src/assets/css/home-page.css
  frontend/src/assets/css/home/hero.css
  frontend/src/assets/css/home/home.css
  frontend/src/assets/css/home/link.css
  frontend/src/assets/images/hero/hero.jpg
  frontend/src/content/index.njk
Due: Build:FE:Assets, Publish:Assets:RC

You get a test suite! You get a test suite!
  scripts/etl/etl/etl.py
  scripts/etl/main.py
  scripts/etl/pyproject.toml
  scripts/etl/pytest.ini
  scripts/etl/tests/config/config.json
  scripts/etl/tests/config/data.json
  scripts/etl/tests/data/test.csv
  scripts/etl/tests/results/category.csv
  scripts/etl/tests/results/category_group.csv
  scripts/etl/tests/results/category_group_category.csv
  scripts/etl/tests/results/column_definition.csv
  scripts/etl/tests/results/dataset.csv
  scripts/etl/tests/results/dataset_column.csv
  scripts/etl/tests/results/filter.csv
  scripts/etl/tests/results/release.csv
  scripts/etl/tests/results/test.csv
  scripts/etl/tests/results/view.csv
  scripts/etl/tests/results/view_categories.csv
  scripts/etl/tests/results/view_categories_json.csv
  scripts/etl/tests/results/view_column.csv
  scripts/etl/tests/test_etl.py
Due: none

Additional style updates — subheader, top left navigation, default text in the bottom panel
  frontend/src/_includes/components/header/subheader.njk
  frontend/src/assets/css/components/subheader.css
  frontend/src/assets/scripts/components/bottom-panel/bottom-panel.ts
  frontend/src/assets/scripts/components/top-panel/top-panel-navigation/top-panel-navigation.ts
Due: Build:FE:Assets, Publish:Assets:RC

Expand responsibilities of the documentation page transform
  frontend/eleventy.config.js
  frontend/utils/documentation-page-transform.js
Due: Build:FE:Assets, Publish:Assets:RC

Path conditions:
  Build:BE:Docker: any of: backend/**/*
  Build:FE:Docker: any of: frontend/nginx-conf/**/*
  Build:FE:Assets: any of: frontend/**/*
  Deploy:BE:RC: any of: backend/**/*
  Publish:Assets:RC: any of: frontend/**/*
  QA:BE: any of: backend/**/*
