Repository Ensembl/amr-portal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build:BE:Docker, Build:FE:Docker, Build:FE:Assets, Deploy:BE:RC, Publish:Assets:RC, QA:BE

Build:BE:Docker:
  stage: build
  image: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build -t ${DOCKER_IMAGE} --no-cache -f backend/Dockerfile backend/
  - docker push ${DOCKER_IMAGE}
  - docker rmi ${DOCKER_IMAGE}
  - docker logout $CI_REGISTRY

Build:FE:Docker:
  stage: build
  image: docker
  variables:
    DOCKER_IMAGE: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHORT_SHA}-fe
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build -t ${DOCKER_IMAGE} --no-cache -f frontend/Dockerfile .
  - docker push ${DOCKER_IMAGE}
  ...

Build:FE:Assets:
  stage: build
  image: node:22.19
  script:
  - cd frontend
  - npm ci
  - npm run build
  after_script:
  - echo "BUILD_JOB_ID=${CI_JOB_ID}" >> build_static.env
  artifacts:
    name: build_artifacts
    paths:
    - frontend/dist/
    reports:
      dotenv: build_static.env

Deploy:BE:RC:
  image: dockerhub.ebi.ac.uk/ensembl-web/deploy-tools:latest
  before_script:
  - kubectl config use-context ${AGENT}
  - kubectl config set-context --current --namespace=${NS}
  script:
  - cd k8s/backend/
  - kustomize edit set image DOCKER_IMAGE=${DOCKER_IMAGE}
  - kubectl apply -k .
  stage: deploy_rc
  ...

Publish:Assets:RC:
  image: dockerhub.ebi.ac.uk/ensembl-web/deploy-tools:latest
  before_script:
  - kubectl config use-context ${AGENT}
  - kubectl config set-context --current --namespace=${NS}
  script:
  - cd k8s/frontend/
  - sed -i "s#<PROJECT_ID>#${CI_PROJECT_ID}#g" publish_assets.yaml
  ...

QA:BE:
  stage: qa
  image:
    name: dockerhub.ebi.ac.uk/ensembl-web/deploy-tools:latest
    entrypoint:
    - ''
  variables:
    HOSTNAME: http://amr.review.ensembl.org
  script:
  - k6 run scripts/testing/smoke-testing.js
  - qa_passed=1
  ...

:zap: rework the doanload logic to properly stream downloaded data
  backend/services/filters.py
Due: Build:BE:Docker, Deploy:BE:RC, QA:BE

Another image
  frontend/src/assets/images/content/howto/results-download-button-amr-f12.png
  frontend/src/content/usage.md
Due: Build:FE:Assets, Publish:Assets:RC

Update images and text
  frontend/src/assets/images/content/howto/azithromycin-amr-f3.png
  frontend/src/assets/images/content/howto/azithromycin-results-table-amr-f4.png
  frontend/src/assets/images/content/howto/experimental-amr-f2.png
  frontend/src/assets/images/content/howto/home-page-amr-f1.jpeg
  frontend/src/assets/images/content/howto/home-page.png
  frontend/src/assets/images/content/howto/items-on-a-page-results-table-amr-f9.png
  frontend/src/assets/images/content/howto/results-download-button-amr-f12.png
  frontend/src/assets/images/content/howto/results-table-azith-species-amr-f7.png
  frontend/src/assets/images/content/howto/results-table-delete-amr-f10.png
  frontend/src/assets/images/content/howto/results-table-download-amr-f11.png
  frontend/src/assets/images/content/howto/scrolling-results-table-amr-f8.png
  frontend/src/assets/images/content/howto/species-amr-f5.png
  frontend/src/assets/images/content/howto/species-selected-amr-f6.png
  frontend/src/content/usage.md
Due: Build:FE:Assets, Publish:Assets:RC

Add overflow-x to documentation articles
  frontend/src/_includes/layouts/documentation.njk
  frontend/src/assets/css/documentation-page.css
Due: Build:FE:Assets, Publish:Assets:RC

Update images for the docs
  docs/frontend-architecture.md
  frontend/src/assets/images/content/howto/azithromycin-amr-f3.png
  frontend/src/assets/images/content/howto/azithromycin-results-table-amr-f4.png
  frontend/src/assets/images/content/howto/experimental-amr-f2.png
  frontend/src/assets/images/content/howto/image-001.png
  frontend/src/assets/images/content/howto/image-002.png
  frontend/src/assets/images/content/howto/image-003.png
  frontend/src/assets/images/content/howto/image-004.png
  frontend/src/assets/images/content/howto/image-005.png
  frontend/src/assets/images/content/howto/image-006.png
  frontend/src/assets/images/content/howto/image-007.png
  frontend/src/assets/images/content/howto/image-008.png
  frontend/src/assets/images/content/howto/image-009.png
  frontend/src/assets/images/content/howto/image-010.png
  frontend/src/assets/images/content/howto/image-011.png
  frontend/src/assets/images/content/howto/items-on-a-page-results-table-amr-f9.png
  frontend/src/assets/images/content/howto/results-download-button-amr-f12.png
  frontend/src/assets/images/content/howto/results-table-azith-species-amr-f7.png
  frontend/src/assets/images/content/howto/results-table-delete-amr-f10.png
  frontend/src/assets/images/content/howto/results-table-download-amr-f11.png
  frontend/src/assets/images/content/howto/scrolling-results-table-amr-f8.png
  frontend/src/assets/images/content/howto/species-amr-f5.png
  frontend/src/assets/images/content/howto/species-selected-amr-f6.png
  frontend/src/content/usage.md
Due: Build:FE:Assets, Publish:Assets:RC

Update styles for help page
  frontend/src/assets/css/documentation-page.css
Due: Build:FE:Assets, Publish:Assets:RC

Update content and styles of the download panel
  frontend/src/assets/scripts/components/bottom-panel/action-buttons/popover.ts
Due: Build:FE:Assets, Publish:Assets:RC

Added view label, started converting the app to use them
  backend/core/filters_config_parser.py
  backend/models/filters_config.py
  backend/models/payload.py
  backend/services/filters.py
  scripts/etl/amr_config_v3/config.json
  scripts/etl/etl/processor.py
Due: Build:BE:Docker, Deploy:BE:RC, QA:BE

Add an image
  frontend/src/assets/images/content/howto/results-download-button-amr-f12.png
Due: Build:FE:Assets, Publish:Assets:RC

Some cleanup
  frontend/src/assets/css/documentation-page.css
  frontend/src/content/usage.md
Due: Build:FE:Assets, Publish:Assets:RC

Update the howto docs and the accompanying images (#41)
  docs/frontend-architecture.md
  frontend/src/_includes/layouts/documentation.njk
  frontend/src/assets/css/documentation-page.css
  frontend/src/assets/images/content/howto/azithromycin-amr-f3.png
  frontend/src/assets/images/content/howto/azithromycin-results-table-amr-f4.png
  frontend/src/assets/images/content/howto/experimental-amr-f2.png
  frontend/src/assets/images/content/howto/home-page-amr-f1.jpeg
  frontend/src/assets/images/content/howto/home-page.png
  frontend/src/assets/images/content/howto/image-001.png
  frontend/src/assets/images/content/howto/image-002.png
  frontend/src/assets/images/content/howto/image-003.png
  frontend/src/assets/images/content/howto/image-004.png
  frontend/src/assets/images/content/howto/image-005.png
  frontend/src/assets/images/content/howto/image-006.png
  frontend/src/assets/images/content/howto/image-007.png
  frontend/src/assets/images/content/howto/image-008.png
  frontend/src/assets/images/content/howto/image-009.png
  frontend/src/assets/images/content/howto/image-010.png
  frontend/src/assets/images/content/howto/image-011.png
  frontend/src/assets/images/content/howto/items-on-a-page-results-table-amr-f9.png
  frontend/src/assets/images/content/howto/results-download-button-amr-f12.png
  frontend/src/assets/images/content/howto/results-table-azith-species-amr-f7.png
  frontend/src/assets/images/content/howto/results-table-delete-amr-f10.png
  frontend/src/assets/images/content/howto/results-table-download-amr-f11.png
  frontend/src/assets/images/content/howto/scrolling-results-table-amr-f8.png
  frontend/src/assets/images/content/howto/species-amr-f5.png
  frontend/src/assets/images/content/howto/species-selected-amr-f6.png
  frontend/src/content/usage.md
Due: Build:FE:Assets, Publish:Assets:RC

switched view to url_name, updated etl, backend, client, and what tests I could find
  backend/core/filters_config_parser.py
  backend/models/filters_config.py
  backend/models/payload.py
  backend/services/filters.py
  backend/tests/test_endpoints.py
  backend/tests/test_filters.py
  frontend/src/assets/scripts/components/bottom-panel/action-buttons/popover.ts
  frontend/src/assets/scripts/components/bottom-panel/bottom-panel.ts
  frontend/src/assets/scripts/components/top-panel/top-panel-navigation/top-panel-navigation-collapsed.ts
  frontend/src/assets/scripts/components/top-panel/top-panel-navigation/top-panel-navigation.ts
  frontend/src/assets/scripts/data-provider/apiBackend.ts
  frontend/src/assets/scripts/data-provider/backendInterface.ts
  frontend/src/assets/scripts/pages/main.ts
  frontend/src/assets/scripts/state/biosampleStore.ts
  frontend/src/assets/scripts/state/filtersStore.ts
  frontend/src/assets/scripts/types/filters/filtersConfig.ts
  scripts/etl/amr_config_v3/config.json
  scripts/etl/etl/processor.py
  scripts/testing/smoke-testing.js
Due: Build:BE:Docker, Build:FE:Assets, Deploy:BE:RC, Publish:Assets:RC, QA:BE

Update styles for homepage links to prevent their stretching
  frontend/src/assets/css/home/link.css
Due: Build:FE:Assets, Publish:Assets:RC

Minor improvements to accessibility and performance
  frontend/src/_includes/components/footer/footer.njk
  frontend/src/_includes/layouts/home.njk
Due: Build:FE:Assets, Publish:Assets:RC

Added url_name to ETL and filters-config endpoint
  backend/core/filters_config_parser.py
  backend/models/filters_config.py
  scripts/etl/amr_config_v3/config.json
  scripts/etl/amr_config_v3/data.json
  scripts/etl/etl/processor.py
  scripts/etl/schema/config.json
Due: Build:BE:Docker, Deploy:BE:RC, QA:BE

Add empty alts to some decorative images
  frontend/src/_includes/components/header/subheader.njk
Due: Build:FE:Assets, Publish:Assets:RC

corrected url name description
  scripts/etl/schema/config.json
Due: none

Added url_name to ETL and filters-config endpoint (#43)
  backend/core/filters_config_parser.py
  backend/models/filters_config.py
  scripts/etl/amr_config_v3/config.json
  scripts/etl/amr_config_v3/data.json
  scripts/etl/etl/processor.py
  scripts/etl/schema/config.json
Due: Build:BE:Docker, Deploy:BE:RC, QA:BE

Update configmap.yaml to point to v23
  k8s/backend/configmap.yaml
Due: none

Add description metatag to several pages
  frontend/src/content/data.njk
  frontend/src/content/index.njk
  frontend/src/content/usage.md
Due: Build:FE:Assets, Publish:Assets:RC

Removed filter and columns
  frontend/src/content/developers.md
  scripts/etl/amr_config_v3/config.json
Due: Build:FE:Assets, Publish:Assets:RC

Clarifying the new data sets
  frontend/src/content/developers.md
Due: Build:FE:Assets, Publish:Assets:RC

Clarifying versions used of genotype
  frontend/src/content/methods.md
Due: Build:FE:Assets, Publish:Assets:RC

Add a client-side router based on AMR views
  frontend/src/assets/scripts/components/top-panel/top-panel-navigation/top-panel-navigation.ts
  frontend/src/assets/scripts/pages/main.ts
  frontend/src/assets/scripts/router/router.ts
Due: Build:FE:Assets, Publish:Assets:RC

Use the url name of a filters view to identify the view from a url parameter
  frontend/src/assets/scripts/components/top-panel/top-panel-navigation/top-panel-navigation.ts
  frontend/src/assets/scripts/router/router.ts
  frontend/src/assets/scripts/types/filters/filtersConfig.ts
  frontend/src/content/index.njk
Due: Build:FE:Assets, Publish:Assets:RC

Add client-side routing for the three data views (#46)
  frontend/src/assets/scripts/components/top-panel/top-panel-navigation/top-panel-navigation.ts
  frontend/src/assets/scripts/pages/main.ts
  frontend/src/assets/scripts/router/router.ts
  frontend/src/assets/scripts/types/filters/filtersConfig.ts
  frontend/src/content/index.njk
Due: Build:FE:Assets, Publish:Assets:RC

Update home page styles to adjust to small viewports
  frontend/src/assets/css/default/custom-properties.css
  frontend/src/assets/css/home/hero.css
  frontend/src/assets/css/home/home.css
  frontend/src/assets/css/home/link.css
Due: Build:FE:Assets, Publish:Assets:RC

A couple of minor style updates; plus a speculation rule to preload the data page
  frontend/src/_includes/components/home/link/link.njk
  frontend/src/_includes/layouts/home.njk
  frontend/src/assets/css/documentation-page.css
  frontend/src/assets/css/main-page.css
  frontend/src/content/index.njk
Due: Build:FE:Assets, Publish:Assets:RC

Schema changes
  frontend/src/content/developers.md
Due: Build:FE:Assets, Publish:Assets:RC

Switch to direct link
  scripts/etl/amr_config_v3/config.json
Due: none

Missed a europepmc link
  scripts/etl/amr_config_v3/config.json
Due: none

Update the hero image on the home page
  frontend/src/assets/images/hero/hero.jpg
  frontend/src/assets/images/hero/hero.webp
Due: Build:FE:Assets, Publish:Assets:RC

Update node version in gitlab-ci
  .gitlab-ci.yml
Due: none

Update nginx config to add cache-control header for static files
  frontend/nginx-conf/local.conf
Due: Build:FE:Docker, Build:FE:Assets, Publish:Assets:RC

Update nginx config to add cache-control header for static files (#47)
  frontend/nginx-conf/local.conf
Due: Build:FE:Docker, Build:FE:Assets, Publish:Assets:RC

Changes pushed after collaborator comments
  frontend/src/content/about.md
  frontend/src/content/developers.md
  frontend/src/content/index.njk
  frontend/src/content/usage.md
  scripts/etl/amr_config_v3/config.json
Due: Build:FE:Assets, Publish:Assets:RC

Updated database to latest version based on the updated config and data
  k8s/backend/configmap.yaml
Due: none

Update frontend/src/content/methods.md
  frontend/src/content/methods.md
Due: Build:FE:Assets, Publish:Assets:RC

Update frontend/src/content/about.md
  frontend/src/content/about.md
Due: Build:FE:Assets, Publish:Assets:RC

Path conditions:
  Build:BE:Docker: any of: backend/**/*
  Build:FE:Docker: any of: frontend/nginx-conf/**/*
  Build:FE:Assets: any of: frontend/**/*
  Deploy:BE:RC: any of: backend/**/*
  Publish:Assets:RC: any of: frontend/**/*
  QA:BE: any of: backend/**/*
