Repository Ensembl/amr-portal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build:BE:Docker, Build:FE:Docker, Build:FE:Assets, Deploy:BE:RC, Publish:Assets:RC, QA:BE

Path conditions:
  Build:BE:Docker: any of: backend/**/*
  Build:FE:Docker: any of: frontend/nginx-conf/**/*
  Build:FE:Assets: any of: frontend/**/*
  Deploy:BE:RC: any of: backend/**/*
  Publish:Assets:RC: any of: frontend/**/*
  QA:BE: any of: backend/**/*

Update tag
  frontend/src/content/methods.md
Due: Build:FE:Assets, Publish:Assets:RC

Ayates/pre-release-changes (#45)
  frontend/src/content/about.md
  frontend/src/content/developers.md
  frontend/src/content/index.njk
  frontend/src/content/methods.md
  frontend/src/content/usage.md
  k8s/backend/configmap.yaml
  scripts/etl/amr_config_v3/config.json
Due: Build:FE:Assets, Publish:Assets:RC

added rules to deploy BE on k8s config changes
  .gitlab-ci.yml
Due: none

Fixing cleanup script
  scripts/cabbage_data_prep/main.py
Due: none

Updated schema
  frontend/src/content/developers.md
Due: Build:FE:Assets, Publish:Assets:RC

Updating schema in the files
  scripts/etl/amr_config_v3/config.json
Due: none

Altered configmap deployment rules & stage based on feedback
  .gitlab-ci.yml
Due: none

Style update: use min-height instead of height
  frontend/src/assets/scripts/components/top-panel/top-panel-navigation/top-panel-navigation.ts
Due: Build:FE:Assets, Publish:Assets:RC

Update card-link styles for better responsiveness
  frontend/src/assets/css/home/home.css
Due: Build:FE:Assets, Publish:Assets:RC

Update text and images for the docs
  frontend/src/assets/images/content/howto/azithromycin-amr-f3.png
  frontend/src/assets/images/content/howto/azithromycin-results-table-amr-f4.png
  frontend/src/assets/images/content/howto/experimental-amr-f2.png
  frontend/src/assets/images/content/howto/home-page-amr-f1.jpeg
  frontend/src/assets/images/content/howto/home-page-amr-f1.webp
  frontend/src/assets/images/content/howto/species-amr-f5.png
  frontend/src/assets/images/content/howto/species-selected-amr-f6.png
  frontend/src/content/usage.md
Due: Build:FE:Assets, Publish:Assets:RC

Making a new CLI program
  backend/cli/cli.py
  backend/core/config.py
  backend/core/database.py
  backend/models/payload.py
  backend/services/filters.py
  test.py
Due: Build:BE:Docker, Deploy:BE:RC, QA:BE

Add
  backend/cli/__init__.py
Due: Build:BE:Docker, Deploy:BE:RC, QA:BE

Updated configmap to point to latest data release
  k8s/backend/configmap.yaml
Due: none

added rules to deploy BE on k8s config changes (#48)
  .gitlab-ci.yml
Due: none

Ayates/schema_changes (#49)
  frontend/src/content/developers.md
  k8s/backend/configmap.yaml
  scripts/cabbage_data_prep/main.py
  scripts/etl/amr_config_v3/config.json
Due: Build:FE:Assets, Publish:Assets:RC

Documentation changes
  frontend/src/content/about.md
  frontend/src/content/developers.md
  frontend/src/content/index.njk
  frontend/src/content/usage.md
Due: Build:FE:Assets, Publish:Assets:RC

Update host in ingress configs (add www to ebi.ac.uk)
  k8s/backend/ingress.yaml
  k8s/frontend/ingress.yaml
Due: none

Adding citations and privacy notice
  frontend/src/assets/docs/Privacy_Notice_AMR_Portal_Website.pdf
  frontend/src/content/about.md
  frontend/src/content/citing.md
Due: Build:FE:Assets, Publish:Assets:RC

New AMR submission guide
  frontend/src/content/amr_submission_guide.md
  frontend/src/content/searching_amr_data.md
Due: Build:FE:Assets, Publish:Assets:RC

Fixing some errors and spelling mistakes
  frontend/src/content/amr_submission_guide.md
  frontend/src/content/index.njk
Due: Build:FE:Assets, Publish:Assets:RC

Spelling correction
  frontend/src/content/methods.md
Due: Build:FE:Assets, Publish:Assets:RC
