Repository Ensembl/amr-portal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build:BE:Docker, Build:FE:Docker, Build:FE:Assets, Deploy:BE:RC, Publish:Assets:RC, QA:BE

Path conditions:
  Build:BE:Docker: any of: backend/**/*
  Build:FE:Docker: any of: frontend/nginx-conf/**/*
  Build:FE:Assets: any of: frontend/**/*
  Deploy:BE:RC: any of: backend/**/*
  Publish:Assets:RC: any of: frontend/**/*
  QA:BE: any of: backend/**/*

Tidy Up
  scripts/testing/smoke-testing.js
Due: none

Switch category name to use dataset-name, built new configs for the latest datasets handed over.
  scripts/etl/amr_config_v2/config.json
  scripts/etl/amr_config_v2/data.json
  scripts/etl/etl/filters.py
  scripts/etl/etl/processor.py
Due: none

Tidy up
  k8s/configmap.yaml
  k8s/deployment.yaml
  k8s/ingress.yaml
  k8s/service.yaml
Due: none

Pipeline (#15)
  .gitlab-ci.yml
  backend/.dockerignore
  backend/Dockerfile
  backend/api/endpoints.py
  backend/main.py
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/nginx-conf/local.conf
  frontend/nginx-conf/mime.types
  k8s/backend/configmap.yaml
  k8s/backend/deployment.yaml
  k8s/backend/ingress.yaml
  k8s/backend/kustomization.yaml
  k8s/backend/pvc.yaml
  k8s/backend/service.yaml
  k8s/docker-secrets.yaml
  k8s/frontend/deployment.yaml
  k8s/frontend/kustomization.yaml
  k8s/frontend/publish_assets.yaml
  k8s/frontend/pvc.yaml
  k8s/frontend/service.yaml
  scripts/testing/smoke-testing.js
Due: Build:BE:Docker, Build:FE:Docker, Build:FE:Assets, Deploy:BE:RC, Publish:Assets:RC, QA:BE

Add esbuild to package.json
  frontend/package-lock.json
  frontend/package.json
Due: Build:FE:Assets, Publish:Assets:RC

Add Eleventy
  .gitignore
  docs/decisions/001-data-provisioning-for-client.md
  docs/decisions/002-overall-frontend-architecture.md
  docs/decisions/overall-architecture.md
  frontend/eleventy.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/_includes/components/card-link/card-link.njk
  frontend/src/_includes/components/footer/footer.njk
  frontend/src/_includes/components/header/header.njk
  frontend/src/_includes/components/home/hero/hero.njk
  frontend/src/_includes/layouts/base.njk
  frontend/src/assets/css/components/card-link.css
  frontend/src/assets/css/custom-properties.css
  frontend/src/assets/css/fonts.css
  frontend/src/assets/css/footer.css
  frontend/src/assets/css/global.css
  frontend/src/assets/css/header.css
  frontend/src/assets/css/home/hero.css
  frontend/src/assets/css/home/home.css
  frontend/src/assets/css/main.css
  frontend/src/assets/css/resets.css
  frontend/src/assets/images/hero/legionella.jpg
  frontend/src/assets/images/icons/README.md
  frontend/src/assets/images/icons/home.svg
  frontend/src/assets/images/icons/info.svg
  frontend/src/assets/images/icons/research.svg
  frontend/src/assets/images/icons/services.svg
  frontend/src/assets/images/icons/tutorial.svg
  frontend/src/assets/index.ts
  frontend/src/index.njk
Due: Build:FE:Assets, Publish:Assets:RC

Got the build script working
  frontend/eleventy.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/_includes/components/card-link/card-link.njk
  frontend/src/_includes/components/header/header.njk
  frontend/src/_includes/layouts/base.njk
  frontend/src/_includes/layouts/main.njk
  frontend/src/data.njk
  frontend/utils/build.js
  frontend/utils/eleventy-filters.js
Due: Build:FE:Assets, Publish:Assets:RC

Add EMBL-EBI header and footer, and add full-page scroll
  frontend/client/components/bottom-panel/bottom-panel.ts
  frontend/client/index.ts
Due: Build:FE:Assets, Publish:Assets:RC

Some cleanup, plus some docs
  README.md
  docs/decisions/002-overall-frontend-architecture.md
  docs/decisions/003-frontend-build.md
  frontend/eleventy.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/utils/build.js
  frontend/utils/eleventy-filters.js
  frontend/vite-env.d.ts
  frontend/vite.config.ts
Due: Build:FE:Assets, Publish:Assets:RC

Update version of ensembl-elements-common package
  frontend/package-lock.json
  frontend/package.json
Due: Build:FE:Assets, Publish:Assets:RC

Added labelled-link type and supporting backend code
  backend/services/serializer.py
  scripts/etl/amr_config_v2/config.json
  scripts/etl/amr_config_v2/data.json
Due: Build:BE:Docker, Deploy:BE:RC, QA:BE

Minor fixes
  frontend/src/assets/scripts/data-provider/apiBackend.ts
  frontend/utils/build.js
Due: Build:FE:Assets, Publish:Assets:RC

Updated config for latest date. Added tests for column types
  backend/tests/test_serializer.py
  scripts/etl/amr_config_v2/config.json
  scripts/etl/amr_config_v2/data.json
  scripts/etl/etl/processor.py
Due: Build:BE:Docker, Deploy:BE:RC, QA:BE

Further cleanup and bugfixing
  frontend/index.html
  frontend/src/assets/images/icons/.arrow-circle-right.svg.swp
  frontend/src/assets/index.ts
  frontend/src/assets/scripts/data-provider/apiBackend.ts
  frontend/src/assets/scripts/pages/main.ts
Due: Build:FE:Assets, Publish:Assets:RC

Move some files around; add watchers for static assets; add subheader
  frontend/eleventy.config.js
  frontend/src/_includes/components/header/subheader.njk
  frontend/src/_includes/layouts/base.njk
  frontend/src/_includes/layouts/home.njk
  frontend/src/_includes/layouts/main.njk
  frontend/src/assets/css/components/embl-ebi-footer.css
  frontend/src/assets/css/components/embl-ebi-header.css
  frontend/src/assets/css/components/subheader.css
  frontend/src/assets/css/default/accessibility.css
  frontend/src/assets/css/default/custom-properties.css
  frontend/src/assets/css/default/defaults.css
  frontend/src/assets/css/default/fonts.css
  frontend/src/assets/css/default/global.css
  frontend/src/assets/css/default/resets.css
  frontend/src/assets/css/documentation-page.css
  frontend/src/assets/css/home-page.css
  frontend/src/assets/css/layouts/main-layout.css
  frontend/src/assets/css/main-page.css
  frontend/src/assets/css/main.css
  frontend/src/assets/images/icons/ensembl-icons/icon_home.svg
  frontend/src/assets/images/icons/ensembl-icons/icon_question_circle.svg
  frontend/src/assets/scripts/pages/main.ts
  frontend/src/data.njk
  frontend/src/index.njk
  frontend/utils/build.js
Due: Build:FE:Assets, Publish:Assets:RC

Add about page
  frontend/src/_includes/components/header/subheader.njk
  frontend/src/_includes/layouts/documentation.njk
  frontend/src/about.md
  frontend/src/assets/css/documentation-page.css
  frontend/src/assets/css/layouts/main-layout.css
  frontend/src/assets/css/main-page.css
  frontend/src/assets/scripts/pages/main.ts
  frontend/src/index.njk
  frontend/utils/build.js
Due: Build:FE:Assets, Publish:Assets:RC

Update styles, fix type imports, remove old filtersConfig mock data
  frontend/src/assets/css/layouts/main-layout.css
  frontend/src/assets/scripts/components/bottom-panel/action-buttons/action-buttons.ts
  frontend/src/assets/scripts/components/bottom-panel/action-buttons/popover.ts
  frontend/src/assets/scripts/components/bottom-panel/bottom-panel.ts
  frontend/src/assets/scripts/components/top-panel/filters-area/filters-area.ts
  frontend/src/assets/scripts/components/top-panel/top-panel-navigation/top-panel-navigation.ts
  frontend/src/assets/scripts/components/top-panel/top-panel.ts
  frontend/src/assets/scripts/data-provider/backendInterface.ts
  frontend/src/assets/scripts/data-provider/filtersConfig.ts
  frontend/src/assets/scripts/state/biosampleStore.ts
Due: Build:FE:Assets, Publish:Assets:RC

Minor updates to styles; removed unused style files
  frontend/src/assets/css/default/custom-properties.css
  frontend/src/assets/css/documentation-page.css
  frontend/src/assets/scripts/styles/custom-properties.css
  frontend/src/assets/scripts/styles/global.css
Due: Build:FE:Assets, Publish:Assets:RC

Remove the '/static' location from the nginx config (there is no special handling of this location
  frontend/nginx-conf/local.conf
Due: Build:FE:Docker, Build:FE:Assets, Publish:Assets:RC

Apply display:block to the amr-app component when it is not defined
  frontend/src/assets/css/layouts/main-layout.css
Due: Build:FE:Assets, Publish:Assets:RC

Corrected issues based feedback on PR 18
  backend/services/serializer.py
  backend/tests/test_serializer.py
Due: Build:BE:Docker, Deploy:BE:RC, QA:BE

Added a few more negative tests for labelled-link
  backend/tests/test_serializer.py
Due: Build:BE:Docker, Deploy:BE:RC, QA:BE

Tools improvement, v2 config, and labelled-link type (#18)
  backend/services/serializer.py
  backend/tests/test_serializer.py
  scripts/amrfinder_data_prep/main.py
  scripts/cabbage_data_prep/README.md
  scripts/cabbage_data_prep/main.py
  scripts/cabbage_data_prep/pyproject.toml
  scripts/cabbage_data_prep/uv.lock
  scripts/etl/amr_config_v2/config.json
  scripts/etl/amr_config_v2/data.json
  scripts/etl/etl/dataset.py
  scripts/etl/etl/filters.py
  scripts/etl/etl/processor.py
Due: Build:BE:Docker, Deploy:BE:RC, QA:BE

Add trailing slash to links on home page
  frontend/src/index.njk
Due: Build:FE:Assets, Publish:Assets:RC

add experimental doownload all data (will be removed)
  backend/api/endpoints.py
  backend/services/filters.py
Due: Build:BE:Docker, Deploy:BE:RC, QA:BE

Update smoke Testin scrpt
  scripts/testing/smoke-testing.js
Due: none

Add Ingress Definitions
  k8s/frontend/ingress.yaml
Due: none

Update rules for AMR bottom panel
  frontend/src/assets/css/layouts/main-layout.css
  frontend/src/assets/scripts/components/bottom-panel/bottom-panel.ts
  frontend/src/assets/scripts/components/top-panel/top-panel.ts
Due: Build:FE:Assets, Publish:Assets:RC

Add EMBL logo for favicon
  docs/decisions/003-frontend-build.md
  docs/decisions/004-favicons.md
  frontend/eleventy.config.js
  frontend/src/_includes/layouts/base.njk
  frontend/src/_includes/layouts/favicon.njk
  frontend/src/assets/images/favicon/apple-touch-icon.png
  frontend/src/assets/images/favicon/embl.svg
  frontend/src/assets/images/favicon/favicon.ico
Due: Build:FE:Assets, Publish:Assets:RC

Add height back on amr-app component to prevent layout shift
  frontend/src/assets/css/layouts/main-layout.css
Due: Build:FE:Assets, Publish:Assets:RC

first v3 change - view renaming and removal of isolete
  scripts/etl/amr_config_v3/config.json
  scripts/etl/amr_config_v3/data.json
Due: none

Update deploy-tools image
  .gitlab-ci.yml
Due: none

K8s and test update (#20)
  .gitlab-ci.yml
  k8s/frontend/ingress.yaml
  scripts/testing/smoke-testing.js
Due: none

Change version of ensembl-elements-common package
  frontend/package-lock.json
  frontend/package.json
Due: Build:FE:Assets, Publish:Assets:RC

Add several documentation pages
  frontend/src/about.md
  frontend/src/assets/css/documentation-page.css
  frontend/src/assets/css/documentation/table.css
  frontend/src/index.njk
  frontend/src/methods.md
  frontend/src/schemas.md
  frontend/src/usage.md
Due: Build:FE:Assets, Publish:Assets:RC

Minor cosmetic changes plus some documentation (#21)
  docs/decisions/003-frontend-build.md
  docs/decisions/004-favicons.md
  frontend/eleventy.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/_includes/layouts/base.njk
  frontend/src/_includes/layouts/favicon.njk
  frontend/src/about.md
  frontend/src/assets/css/documentation-page.css
  frontend/src/assets/css/documentation/table.css
  frontend/src/assets/css/layouts/main-layout.css
  frontend/src/assets/images/favicon/apple-touch-icon.png
  frontend/src/assets/images/favicon/embl.svg
  frontend/src/assets/images/favicon/favicon.ico
  frontend/src/assets/scripts/components/bottom-panel/bottom-panel.ts
  frontend/src/assets/scripts/components/top-panel/top-panel.ts
  frontend/src/index.njk
  frontend/src/methods.md
  frontend/src/schemas.md
  frontend/src/usage.md
Due: Build:FE:Assets, Publish:Assets:RC

add GET download logic, it's dirty but works
  backend/api/endpoints.py
  frontend/src/assets/scripts/data-provider/apiBackend.ts
Due: Build:BE:Docker, Build:FE:Assets, Deploy:BE:RC, Publish:Assets:RC, QA:BE
